.login-box-body, .register-box-body {float: left;width: 100%;}
#alerts {margin-top: 20px;}
label.required:after {content: ' *';color: #dd4b39;}
.box-7 {width:70%;margin: auto;}
.select2-container {width: 100% !important;}
li.paginate_button.active > a {background: #00a65a !important;border-color: #008d4c !important;}
.pagination>.active>span {background-color: #58a75b;border-color: #498e4d;}
.box-8 {width: 80%;margin: auto;}
form .box-footer {text-align: right;}
/* loader css starts here */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ff6a00;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.5);
    z-index: 9999;
}

#loader .lds-ripple{
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* loader css ends here */
.login-box-body img {
    width: 20px;
}

.login-box-body input {
    height: 41px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  -webkit-text-fill-color: #008bff;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.login-box-body button.btn,  .register-box-body button.btn {
    background: #008bff;
    border-color: #008bff;
    width: 100%;
}

.login-box-body .has-feedback + .row .col-xs-8 {
    display: block;
    width: 100%;
    text-align: right;
}
.login-box-body .has-feedback + .row .col-xs-4 {
    display: block;
    width: 100%;
}

.login-page, .register-page {
    background: #e6e9ef;
}

.login-box-body, .register-box-body {
    box-shadow: 0 0 5px rgb(205, 206, 209);
}

.login-box-body a {
    color: #7d0909;
    margin-bottom: 10px;
    display: inline-block;
}

.register-box-body .col-xs-4, .login-box-body .col-xs-4  {
    width: 100%;
    display: contents;
}

.login-box-body .form-horizontal .form-group {
    margin: 0;
    margin-bottom: 10px;
}
.bg-green {
    background-image: linear-gradient(to right, #93ba18 , #b9e54b);
}
.bg-yellow {
    background-image: linear-gradient(to right, #fc9700 , #ffdd00);
}

.bg-red {
    background-image: linear-gradient(to right, #db4d46 , #fc6868);
}
.bg-aqua {
    background-image: linear-gradient(to right, #008bff , #54d4fa);
}


.small-box {
    border-radius: 10px;
}

.small-box a {
    border-radius: 0 0 10px 10px;
}

.content-wrapper {
    background: #fff;
}

.skin-yellow .wrapper, .skin-yellow .main-sidebar, .skin-yellow .left-side {
    background-color: #e6e9ef;
    color: #858585;
}

.skin-yellow .sidebar a {
    color: #858585;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.skin-yellow .sidebar-menu>li.header {
    background: #008bff;
    border-bottom: 1px dotted #ccc;
    color: #fff;
    font-size: 15px;
}

.skin-yellow .main-header .logo {
    background: #e6e9ef;
    color: #858585;
}

.skin-yellow .main-header .logo:hover {
    background: #e6e9ef;
}

.skin-yellow .user-panel>.info, .skin-yellow .user-panel>.info>a {
    color: #858585;
}


.skin-yellow .main-header .navbar .sidebar-toggle {
    color: #008bff;
}

.skin-yellow .main-header .navbar .nav>li>a {
    color: #008bff;
}

.navbar-nav>.user-menu .user-image {
    border: 1px solid #ccc;
}

.skin-yellow .sidebar-menu>li:hover>a, .skin-yellow .sidebar-menu>li.active>a, .skin-yellow .sidebar-menu>li.menu-open>a {
    background: #e6e9ef;
    color: #008bff;
}


.skin-yellow .main-header .navbar {
    background: #fff;
    border-bottom: 1px solid #e6e9ef;
}

.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background: #ffffff;
    color: #008bff;
}

.skin-yellow .sidebar-menu>li>.treeview-menu {
    background: #e6e9ef;
    padding-left: 20px;
}

.skin-yellow .sidebar-menu .treeview-menu>li>a {
    color: #858585;
}

.skin-yellow .sidebar-menu .treeview-menu>li>a:hover {
    color: #008bff;
}

.table-bordered>thead>tr>th {
    background: #d8d8d8;
    color: #444444;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
li.paginate_button.active > a {
    background: #008bff !important;
    border-color: #008bff !important;
}
.btn-success {
    background-color: #008bff;
    border-color: #008bff;
}
.box.box-success {
    border-top-color: #008bff;
}
.box {
    border-top: 3px solid #008bff;
}
.skin-yellow .main-header li.user-header {
    background-color: #008bff;
}
.box.box-warning {
border-top-color: #008bff;
}

.btn-warning {
background-color: #008bff;
border-color: #008bff;
}

.btn-warning:hover {
background-color: #008bff;
border-color: #008bff;
}
.delete-form{display: inline-block;}
.dataTable td:last-child {text-align: center;}
